
.selectColor button{

    width: 20px;
    height: 20px;
    margin-left: 10px; 
    border-radius: 50%;
}

.theme{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1250px;
    margin: 10px ;
    cursor: pointer;
    margin-bottom: -30px;
  
}

.makeColor{
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 15px; 
    border-radius: 50%;
}

.toggleMode{
    margin-right: auto;
    margin-left: 60px;
}

.modeToggle img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}




